*.py[cod]

*.log
*.pid

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Django
default.db
db.sqlite3

# Static assets
media/cache/
assets/

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov
.tox
nosetests.xml
unittests.xml

### Internationalization artifacts
*.mo
*.po
*.prob
!django.po
!django.mo
!djangojs.po
!djangojs.mo


# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# QA
coverage.xml
diff_*.html
*.report
report
venv
acceptance_tests.*.log
acceptance_tests.*.png

# Override config files
override.cfg
private.py

# JetBrains
.idea

# OS X
.DS_Store

# Editor Temp Files
*.swp

# pyenv
.python-version

*.trace

.cache/
.dev/
docs/_build/
node_modules/
webpack-stats.json

# Visual Studio Code
.vscode

# Emacs
*~
celerybeat-schedule
