.side-bar {
    max-height: 75%;
    width: 75%;
    overflow: scroll;
}

.side-bar .list-group-item {
    background: #1b1b1d;
    border: 0;
    color: #fff;
    border-bottom: 1px solid gray !important;
}

.side-bar .list-group-item:hover {
    border: 1px solid #fff !important;
    cursor: pointer;
}
